html {
	body {
		background-color: #F5F9FA;
	}
}

.item {		
	img {
		max-width:100%;
		max-height:100%;
		position: absolute;
	}

	&:hover {
		cursor: pointer;
		cursor: hand;

		.price-label-container {
			opacity: 0.7;
		}

		.likes {
			display: block;
		}
	}

	.price-label-container {		
		position: relative;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 70px 103px 0 0;
		border-color: #ffffff transparent transparent transparent;

		.price-label {
			position: absolute;
			float: left;
			top: -60px;			
			

			.price-label-price {
				display: inline;
				font-size: 12px;
				font-weight: bold;				
				margin: 0 2px 0 8px;				
			}

			.price-label-currency {
				display: inline;
				font-size: 10px;
			}
		}			
	}	

	.likes {
		display: none;
	    position: absolute;
    	top: 20px;
    	left: 87%;    
    	color: #ffffff;	
    	border-radius: 50%;
		background: url('/assets/32x32.png') center no-repeat;
	    width: 30px;
		height: 30px;

    	.indicator {      		
		    margin: 32px 0 0 5px;
    	}
		
	}

	.description {
		position: absolute;
		background-color: #ffffff;
		width: 100%;
		height: 20%;
		bottom: 0;
    	left: 0;    	
    	
    	.description-product-title {
    		text-align: center;
    		margin-top: 5px;
    		font-size: 17px;
    	}

    	.description-author {
    		text-align: center;
    		margin-top: -7px;
    		font-size: 13px;

    		.description-author-join {
    			color: grey;
    			margin-right: 2px;
    		}
    	}
	}	
	
}

